@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Quicksand:wght@300..700&display=swap');

body{
    background-color: #fffade;
    color: #72933a;
    color: #dbeec2;
    color: #124713;
    text-align: center;
    font-family: 'Quicksand';
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: 'Oleo Script';
    font-size: 80px;
}

h2{
    font-family: 'Oleo Script';
    font-size: 50px;
}

p{
    font-size: 16px;
}

button{
    background-color: #72933a;
    color: #dbeec2;
    border: 4px solid #124713;
    font-family: "Oleo Script";
    font-size: 30px;
    display: inline-block;
    transition-duration: 0.3s;
}

img{
    object-fit: cover;
}

header{
    background-color:rgba(7,37,8,0.78);
    background-image: none;
    font-family: "Oleo Script";
    color: #dbeec2;
    text-align: left;
}

header button{
    padding: 15px;
    margin: 0px;
    background-color: rgba(0,0,0,0);
    border: none;
}

header button:hover{
    padding: 15px;
    margin: 0px;
    background-color: rgba(219, 238, 194, 0.48);
    color:#124713;
}

.header-logo{
    font-size: 36px;
}

footer{
    background-image: linear-gradient(#1c661e,#124713);
    height: 400px;
}

#welcome{
    background-image: url("images/school_img_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#home-title{
    display: block;
    color:#dbeec2;
    background-color: rgba(7,37,8,0.78);
}

#intro-paragraph{
    background-color: #dbeec2;
    color:#124713;
    padding: 10px 10% 50px 10%;
}

#intro-img{
    width: 100%;
    height: 50vh;
}

#recent-articles{
    padding: 10%;
}

#ra-heading{
    text-align: left;
    margin-left: 5%;
    display: inline;
    float: left;
}

#see-more{
    text-align: right;
    margin-right: 5%;
    display: inline;
    float: right;
}

#upcoming-term-dates{
    margin-top: 10%;
}

#footer-banner{
    background-color: #72933a;
    color: #dbeec2;
    padding: 1px;
}