@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    overflow-x: hidden;
}

body{
    background-color: #fffade;
    color: #72933a;
    color: #dbeec2;
    color: #124713;
    text-align: center;
    font-family: 'Quicksand';
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: 'Oleo Script';
    font-size: 80px;
}

h2{
    padding-top: 3vh;
    font-family: 'Oleo Script';
    font-size: 50px;
}

p{
    font-size: 16px;
}

a{
    background-color: #72933a;
    color: #dbeec2;
    border: 4px solid #124713;
    font-family: "Oleo Script";
    font-size: 30px;
    display: inline-block;
    transition-duration: 0.3s;
    text-decoration: none;
}

a:hover{
    background-color: #dbeec2;
    color:#1c661e;
}

img{
    object-fit: cover;
}

header{
    background-color: #124713;
    background-image: none;
    font-family: "Oleo Script";
    color: #dbeec2;
    text-align: left;
}

header a{
    padding: 15px;
    margin: 0px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #dbeec2;
    text-decoration: none;
    font-family: "Oleo Script";
    font-size: 30px;
    display: inline-block;
    transition-duration: 0.3s;
}

header a:hover{
    padding: 15px;
    margin: 0px;
    background-color: #dbeec2;
    color:#124713;
}

.header-logo{
    font-size: 36px;
}

.current-page{
    color: white;
}

footer{
    background-image: linear-gradient(#1c661e,#124713);
    height: 400px;
}

#welcome{
    background-image: url("images/school_img_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#home-title{
    display: block;
    color:#dbeec2;
    background-color: rgba(7,37,8,0.78);
}

#intro-paragraph{
    background-color: #dbeec2;
    color:#124713;
    padding: 50px 10% 50px 10%;
}

#intro-img{
    width: 100%;
    height: 50vh;
}

#recent-articles{
    padding: 10%;
}

#ra-title{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

#ra-heading{
    text-align: left;
    margin-left: 5%;
    display: inline;
    float: left;
}

#see-more{
    text-align: right;
    margin-right: 5%;
    display: inline;
}

#article-display-list{
    padding-top: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 10%;
    width: 100%;
}

#article-display-list a{
    transition-duration: 0.3s;
    font-family: "Quicksand";
}

.article-display{
    border: 4px solid #124713;
    background-color:#72933a;
    color:#dbeec2;
    width: 80vw;
    text-align: justify;
    padding: 1%;
    margin-bottom: 5%;
}

.article-display img{
    width: 90%;
    padding: 3%;
}

.article-display-title{
    font-family: "Oleo Script";
    font-size: 26px;
    text-align: center;
}

#upcoming-term-dates{
    margin-bottom: 10vh;
    padding-bottom: 5vh;
    border: 4px solid #124713;
    background-color: #dbeec2;
    height: 50vh;
    width: 100%;
    overflow-y: hidden;
}

.term-dates-name{
    float: left;
    padding: 5%;
    margin-left: 15%;
}

.term-dates-date{
    float: right;
    padding: 5%;
    margin-right: 15%;
}

#footer-banner{
    background-color: #72933a;
    color: #dbeec2;
    padding: 15px;
}

#footer-banner p{
    font-size: 20px;
}

#footer-banner a{
    font-size: 20px;
    border: none;
    font-family: "Quicksand";
    text-decoration: underline;
    margin: none;
    padding: none;
    display: inline;
}

#footer-links{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 5vh;
}

#footer-links a{
    background-color: rgba(0,0,0,0);
    border: none;
    font-family: "Quicksand";
    font-size: 15px;
    display: block;
    margin-top: 2vh;
}

#back-to-top{
    padding: 2%;
    margin-right: 5vw;
    background-color: #72933a; 
    color: #dbeec2;
    border: 4px solid #124713;
    float: right;
}

@media (max-width: 1000px){
    #article-display-list, #ra-title{
        flex-direction: column;
        width: 100vw;
        justify-content: center;
    }
    #see-more{
        text-align: left;
        margin-left: 5%;
        padding-top: 5vh;
    }
    #back-to-top{
        float: none;
        width: 100vw;
        margin-top: 10vh;
    }
}