@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Quicksand:wght@300..700&display=swap');

body{
    background-color: #fffade;
    color: #72933a;
    color: #dbeec2;
    color: #124713;
    text-align: center;
    font-family: 'Quicksand';
}

h1{
    font-family: 'Oleo Script';
    font-size: 80px;
}

h2{
    font-family: 'Oleo Script';
    font-size: 50px;
}

p{
    font-size: 16px;
}

button{
    background-color: #72933a;
    color: #dbeec2;
    border: 4px solid #124713;
    font-family: "Oleo Script";
    font-size: 30px;
    display: inline-block;
}

footer{
    background-image: linear-gradient(#1c661e,#124713);
    height: 400px;
}

#welcome{
    background-image: url("images/school_img_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home-title{
    width: 100%;
    height: 300px;
    background-color: rgba(7,37,8,0);
}

#ra-text{
    text-align: left;
}

#footer-banner{
    background-color: #72933a;
    color: #dbeec2;
    padding: 1px;
}